<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactus.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Sources/Logo_Footer.png" />
    <title>Aladdin Contact Us</title>
</head>
<body>
<header class="Nav-Bar">
    <!--OPEN BUTTON HOME-->
    <button id="btnOpen" class="Nav-Bar__open" aria-expanded="false" aria-labelledby="Nav-Label">
        <img src="/Sources/Hamburger.png" alt="Menu" width="42" height="42">
    </button>

    <!--CLOSE BUTTON HOME-->
    <button class="Home-Btn" id="btnClose" aria-label="Close">
        <img src="/Sources/Home.png" alt="Home" width="35" height="35">
    </button>

    <img src="/Sources/Logo.png" alt="Aladdin Logo" class="logo">


    <nav class="Nav-Bar__nav">
        <span id="Nav-Label" hidden>Navigation</span>

        <div class="Nav-Bar__menu" role="dialog" aria-labelledby="Nav-Label">
            <ul class="Nav-Bar__links">
                
                <li class="Nav-Bar__item item-desktop-home">
                    <a href="/" class="Nav-Bar__link">
                        <img src="/Sources/Home.png" alt="Home" width="40" height="40">
                    </a>
                </li>

                <li class="Nav-Bar__item item-green dropdown">
                    <a href="#" class="Nav-Bar__link">Accessories <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Accessories/Earrings">Earrings</a></li>
                        <li><a href="/shop/Accessories/Necklaces">Necklaces</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-cream dropdown">
                    <a href="#" class="Nav-Bar__link">Fragrances <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Fragrances/Perfumes">Perfumes</a></li>
                        <li><a href="/shop/Fragrances/Perfumed-Oils">Perfumed Oils</a></li>
                        <li><a href="/shop/Fragrances/Home-Fragrances">Home Fragrance</a></li>
                        <li><a href="/shop/Fragrances/Deodarants">Deodarants</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-green dropdown">
                    <a href="#" class="Nav-Bar__link">Cosmetics <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Fragrances/Face-Care">Face Care</a></li>
                        <li><a href="/shop/Fragrances/Body-Care">Care Body</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-cream dropdown">
                    <a href="#" class="Nav-Bar__link">Handmade <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Handmade/Soaps">Soaps</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-about"><a href="/aboutus" class="Nav-Bar__link">ABOUT US</a></li>
                <li class="Nav-Bar__item item-contact"><a href="/contactus" class="Nav-Bar__link">CONTACT US</a></li>
            </ul>
        </div>

    <div class="Nav-Bar__extraBtns">
        <a href="/aboutus" class="btn-about">ABOUT US</a>
        <a href="/contactus" class="btn-contact">CONTACT US</a>
    </div>
  </nav>  
    <div class="nav-language">
        <img src="/Sources/Globe.png" alt="Select Language" class="globe-icon">
        <div id="google_translate_element"></div>
    </div>

</header>

    <main class="contact-page">
        
        <!-- contact us page hero -->
        <section class="contact-hero"> 
            <div class="contact-hero__content">
                <h1 class="contact-hero__title">Contact Us</h1>
                <p class="contact-hero__text">Whether you are seeking a bespoke gift, have a question about our heritage collections, or simply wish to share a story, our team is here to assist you with a personal touch</p>
            </div>
        </section>

        <div class="contact-divider"></div>

        <h2 class="contact-find__title">Find Us Here</h2>


        <!-- location & hours section -->
        <section class="contact-info">
            <div class="contact-info__details">
                <h2 class="contact-section-title">Location & Hours</h2>
                
                <p class="contact-info__item"> <strong>Address:</strong> Al Zahir Street - Al Rumailah - Ajman</p>
                
                <p class="contact-info__item"><strong>Telephone:</strong> +971 056 277 5717</p>
                
                <p class="contact-info__item"><strong>Shop Timings:</strong> Monday to Sunday - 10AM-10PM</p>

                <a href="https://wa.me/971562775717" class="whatsapp-btn" target="_blank">Our WhatsApp</a>
            </div>

            <div class="contact-info__image">
                <img src="/Sources/imagesAboutContact/Rectangle 49.png" alt="building picture">
            </div>
        </section>


        <!-- find us map section -->
        <section class="contact-find">
            <div class="contact-find__map-container">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.9541869105765!2d55.42979797517064!3d25.40634407757688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f57a77da4f955%3A0x676868732bbe2048!2zQWxhZGRpbiBHZW5lcmFsIFRyYWRpbmcg0KHQo9CS0JXQndCY0KDQqywg0KHQm9CQ0JTQntCh0KLQmCDQmCDQn9CQ0KDQpNCu0JzQldCg0JjQrw!5e0!3m2!1sen!2sae!4v1777828033437!5m2!1sen!2sae" 
                    class="contact-find__map" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>


        <!-- contact us form section -->
        <section class="contact-form-section">
            <h2 class="contact-section-title">Reach Out To Us</h2>
            <div class="contact-form__container">
                <div class="contact-form__image-header">
                    <img src="/Sources/imagesAboutContact/Rectangle 56.png" alt="Ajman View">
                </div>
                <form action="/submit-contact" method="POST" class="contact-form">
                    <input type="text" name="name" placeholder="Name" class="contact-form__input" required>
                    <input type="email" name="email" placeholder="Email" class="contact-form__input" required>
                    <textarea name="message" placeholder="Hello! Write your message here..." class="contact-form__textarea" required></textarea>
                    <button type="submit" class="contact-form__submit">SEND</button>
                </form>
            </div>
        </section>

    </main>

    <footer class="footer">
    <div class="footer_container">
        
        <div class="footer_links">
            
            <div class="footer_column">
                <h3>Find Us</h3>
                <p><strong>Address:</strong> Al Zahir Street - Al Rumailah - Ajman</p>
                <p><strong>Telephone:</strong> +971 056 277 5717</p>
            </div>

            <div class="footer_column">
                <h3>Shop</h3>
                <ul>
                    <li><a href="/shop/Accessories">Accessories</a></li>
                    <li><a href="/shop/Fragrances">Fragrance</a></li>
                    <li><a href="/shop/Cosmetics">Cosmetics</a></li>
                    <li><a href="/shop/Handmade">Handmade</a></li>
                </ul>
            </div>

            <div class="footer_column">
                <h3>Help</h3>
                <ul>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                </ul>
            </div>

            <div class="footer_column">
                <h3>Socials</h3>
                <ul>
                    <li><a href="https://www.facebook.com/Aladdingifts1/ ">Facebook</a></li>
                    <li><a href="https://www.instagram.com/aladdingifts1?igsh=cXBhaG5xNjh3amJq&utm_source=qr">Instagram</a></li>
                </ul>
            </div>
            
        </div>

        <div class="footer_logo">
            <img src="/Sources/Logo_Footer.png" alt="Aladdin Logo Footer">
        </div>

    </div>
</footer>
<!--translator script-->
<script src="/JavaScript/scripts.js"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en',
    includedLanguages: 'en,ar,ru'
  }, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>