<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Sources/Logo_Footer.png" />
    <title>Handmade</title>

</head>
<a id="up"></a>
<body>

<header class="Nav-Bar">
    <!--OPEN BUTTON HOME-->
    <button id="btnOpen" class="Nav-Bar__open" aria-expanded="false" aria-labelledby="Nav-Label">
        <img src="/Sources/Hamburger.png" alt="Menu" width="42" height="42">
    </button>

    <!--CLOSE BUTTON HOME-->
    <button class="Home-Btn" id="btnClose" aria-label="Close">
        <img src="/Sources/Home.png" alt="Home" width="35" height="35">
    </button>

    <img src="/Sources/Logo.png" alt="Aladdin Logo" class="logo">


    <nav class="Nav-Bar__nav">
        <span id="Nav-Label" hidden>Navigation</span>

        <div class="Nav-Bar__menu" role="dialog" aria-labelledby="Nav-Label">
            <ul class="Nav-Bar__links">
                
                <li class="Nav-Bar__item item-desktop-home">
                    <a href="/" class="Nav-Bar__link">
                        <img src="/Sources/Home.png" alt="Home" width="40" height="40">
                    </a>
                </li>

                <li class="Nav-Bar__item item-green dropdown">
                    <a href="#" class="Nav-Bar__link">Accessories <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Accessories/Earrings">Earrings</a></li>
                        <li><a href="/shop/Accessories/Necklaces">Necklaces</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-cream dropdown">
                    <a href="#" class="Nav-Bar__link">Fragrances <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Fragrances/Perfumes">Perfumes</a></li>
                        <li><a href="/shop/Fragrances/Perfumed-Oils">Perfumed Oils</a></li>
                        <li><a href="/shop/Fragrances/Home-Fragrances">Home Fragrance</a></li>
                        <li><a href="/shop/Fragrances/Deodarants">Deodarants</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-green dropdown">
                    <a href="#" class="Nav-Bar__link">Cosmetics <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Fragrances/Face-Care">Face Care</a></li>
                        <li><a href="/shop/Fragrances/Body-Care">Care Body</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-cream dropdown">
                    <a href="#" class="Nav-Bar__link">Handmade <span class="Nav-Bar__arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/shop/Handmade/Soaps">Soaps</a></li>
                    </ul>
                </li>

                <li class="Nav-Bar__item item-about"><a href="/aboutus" class="Nav-Bar__link">ABOUT US</a></li>
                <li class="Nav-Bar__item item-contact"><a href="/contactus" class="Nav-Bar__link">CONTACT US</a></li>
            </ul>
        </div>

    <div class="Nav-Bar__extraBtns">
        <a href="/aboutus" class="btn-about">ABOUT US</a>
        <a href="/contactus" class="btn-contact">CONTACT US</a>
    </div>
  </nav>  
    <div class="nav-language">
        <img src="/Sources/Globe.png" alt="Select Language" class="globe-icon">
        <div id="google_translate_element"></div>
    </div>

</header>

<!--Green Separator-->
<div class="separator">
    <img src = "/Sources/Separator.png" alt = "page break image">
    <p>“A World of Discovery in Every Aisle”</p>
</div>

<div class="banner-section">
    <div class="banner-image">
        <img src="/Sources/COMPRESSED VER/Handmadebanner.jpg" alt="Accessories Collection">
    </div>
    <div class="banner-text">
        <h1>Handmade</h1>
        <p>Nature's purity in every bar. Experience the handmade soaps, crafted with botanical oils and organic materials to cleanse and nourish your skin natural.</p>
    </div>
</div>

<!-- Green line -->
<div class="separator-line"></div>

<!--product grid -->
<div class="product-grid">
        
        <!-- loops through each product from MongoDB -->
        <% products.forEach(product => { %>
            <!--this creates a dynamic link which is automatically connected to the product id page-->
             <a href="/product/<%= product._id %>">
                <div class="product-card"> 
                    <img src="<%= product.images[0] %>" alt="<%= product.name %>">   
                    <h2><%= product.name %></h2> 
                </div>
            </a>
            <% }) %>
    </div>





<!--the button to go back to the top-->
<a href="#up" class="back_top">▲</a>

<footer class="footer">
    <div class="footer_container">
        
        <div class="footer_links">
            
            <div class="footer_column">
                <h3>Find Us</h3>
                <p><strong>Address:</strong> Al Zahir Street - Al Rumailah - Ajman</p>
                <p><strong>Telephone:</strong> +971 056 277 5717</p>
            </div>

            <div class="footer_column">
                <h3>Shop</h3>
                <ul>
                    <li><a href="/shop/Accessories">Accessories</a></li>
                    <li><a href="/shop/Fragrances">Fragrance</a></li>
                    <li><a href="/shop/Cosmetics">Cosmetics</a></li>
                    <li><a href="/shop/Handmade">Handmade</a></li>
                </ul>
            </div>

            <div class="footer_column">
                <h3>Help</h3>
                <ul>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                </ul>
            </div>

            <div class="footer_column">
                <h3>Socials</h3>
                <ul>
                    <li><a href="https://www.facebook.com/Aladdingifts1/ ">Facebook</a></li>
                    <li><a href="https://www.instagram.com/aladdingifts1?igsh=cXBhaG5xNjh3amJq&utm_source=qr">Instagram</a></li>
                </ul>
            </div>
            
        </div>

        <div class="footer_logo">
            <img src="/Sources/Logo_Footer.png" alt="Aladdin Logo Footer">
        </div>

    </div>
</footer>
<!--translator script-->
<script src="/JavaScript/scripts.js"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en',
    includedLanguages: 'en,ar,ru'
  }, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>